*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0;
  text-align: center;
}

body{
  display: flex;
}

nav{
  width: 30%;
  background-color:orange;
}

main{
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

header{
  width: 100%;
  height: 10vh;
  background-color:aqua;
}

.conteudo{
  width: 100%;
  height:80vh;
  display: flex;
}

.conteudo > div{
  width: 70%;
  background-color:rebeccapurple;
}

aside{
  width:30%;
  background-color:sandybrown;
}

footer{
  width: 100%;
  height: 10vh;
  background-color:aqua;
}

@media screen and (max-width: 768px){
  nav{
    display: none;
  }

  main{
    width: 100%;
  }

  .conteudo{
    flex-flow: column wrap;
  }

  .conteudo > div{
    width: 100%;
    height: 80%;
  }

  aside{
    width: 100%;
    height: 20%;
  }
}